{{!-- =======================Pokemon======================= --}}
{{!-- <div class="pokemon">
    <p>{{name}}</p>
    <ul>
        {{#each abilities}}
        <li>{{this.ability.name}}</li>
        {{/each}}
    </ul>
    <img src={{sprites.front_default}}>
    <p>Moves</p>
    <ul>
        {{#each moves}}
        <li>{{this.move.name}}</li>
        {{/each}}
    </ul>
</div> --}}
{{!-- ========================================================= --}}